<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{menu}">
	<ul class="{class}">
		<f:for each="{menu}" as="page">
			<li>
				<f:link.page pageUid="{page.data.uid}">
					<f:if condition="{page.files.0}">
						<div class="item">
							<f:image image="{page.files.0}" width="{settings.maxWidth}" height="{settings.maxHeight}" title="{page.files.0.title}" alt="{page.files.0.alternative}" />
						</div>
					</f:if>

					<h3>{page.title}</h3>

					<f:if condition="{page.data.subtitle}">
						<p class="ce-menu-subtitle"><strong>{page.data.subtitle}</strong></p>
					</f:if>

					<f:if condition="{page.data.abstract}">
						<p class="ce-menu-abstract"><f:format.nl2br>{page.data.abstract}</f:format.nl2br></p>
					</f:if>
				</f:link.page>

				<f:render partial="Menu" arguments="{menu: page.children, class: class, settings: settings}" />
			</li>
		</f:for>
	</ul>
</f:if>

</html>
